/*.sm_warp{*/
    /*background: #19b9e7;*/
/*}*/

#sm_main{
    width: 100%;
    height: auto;
}

.sm_bg{
    width: 100%;
    height: 300px;
    background-color: #159957;
    background-image: linear-gradient(120deg,#155799,#159957);
    overflow: hidden;
    text-align: center;
}