/*媒体查询*/


@media only screen and (max-device-width:480px) {
    .sm_bg{
        height: 150px;
    }
}

@media only screen and (min-width: 992px) {
    .sm_bg{
        height: 300px;
    }
}



#sm_main{
    width: 100%;
    height: auto;
}

.sm_bg{
    width: 100%;
    background-color: #159957;
    background-image: linear-gradient(120deg,#155799,#159957);
    overflow: hidden;
    text-align: center;
}